/* --text: #f1ecf3;
--background: #140e15;
--primary: #c58fc0;
--secondary: #65425f;
--accent: #9d698c; */
body{
    background: #fff ;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    height: 15%;
    background-color:#140e15 ;
    color: #f1ecf3 ;
    display: flex;
    justify-content: space-between;
    padding: 15px;

}
.right-nav ul{
    display: inline-block;
    list-style-type: none;
    align-items: center;
    
}
.right-nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px;
    font-size: 24px;
}
.left-nav{
display: flex;
justify-content: space-between;
font-size: 20px;
color:#c58fc0 ;


}
.left-nav a img{
    padding: 15px;
color:#c58fc0 ;

}

.right-nav ul li:hover{
    color:#c58fc0 ;

}